<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="Bychkovski Vladimir" name="author">
  <title>Сalculations</title>
  <link href="styles.css" rel="stylesheet">
</head>
<body>
<h1>Калькулятор кредита</h1>
<div class="container">
  <div class="sourcedata">
    <form action="/" method="post" th:object="${source}">
      <span class="label-spacing">Необходимая сумма:</span>
      <input class="input-short" type="number" name="totalSum" th:value="${source.getTotalSum()}"
             style="width: 80px;" min="1" max="1000000"/>&nbsp руб.РБ<br/>
      <span class="label-spacing">Процентная ставка: &nbsp</span>
      <input class="input-short" type="number" name="interestRate" th:value="${source.getInterestRate()}"
             style="width: 50px;" min="0.1" max="300" step="0.01"/>&nbsp %<br/>
      <span class="label-spacing">Период по кредиту: &nbsp</span>
      <input class="input-short" type="number" name="loanTerm" th:value="${source.getLoanTerm()}"
             style="width: 50px;" min="1" max="500"/>&nbsp месяцев<br/>
      <span class="label-spacing">Дата оформления кредита</span>
      <input class="input-short" type="date" th:field="*{inDate}" style="width: 120px;"/>
      <br><br>
      <button id="calculateButton" type="submit">Расчет кредита</button>
      <div class="message-block">
        <p th:text="${source.getMessage()}"></p>
      </div>
    </form>
  </div>
  <div class="resultdata" th:classappend="${showPressure} ? 'show'">
    <div class="scrollable-table">
      <table id="myTable">
        <thead>
        <tr>
          <th rowspan="2">№</th> <!-- Указываем rowspan="2" для объединения двух строчек -->
          <th rowspan="2">Месяц</th> <!-- Указываем rowspan="2" для объединения двух строчек -->
          <th rowspan="2">Минимальный ежемесячный взнос</th> <!-- Указываем rowspan="2" для объединения двух строчек -->
          <th colspan="2">Погашение</th> <!-- Объединяем заголовок "Погашение" -->
          <th rowspan="2">Остаток на текущий месяц</th>
        </tr>
        <tr>
          <th>Основного долга</th>
          <th>Процентов по кредиту</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment : ${payments}" style="background-color: #f2f2f2;">
          <td th:text="${payment.getNumber()}"></td>
          <td th:text="${payment.getMonth()}"></td>
          <td th:text="${payment.getMonthlyContribution()}"></td>
          <td th:text="${payment.getPrincipalRepayment()}"></td>
          <td th:text="${payment.getInterestPayment()}"></td>
          <td th:text="${payment.getRemainingBalance()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <form action="/export" method="post">
      <button type="submit">"Экспорт в xls"</button>
    </form>
  </div>
</div>
</body>
</html>
