<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bychkovski Vladimir">
    <title>Сalculations</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Калькулятор кредита</h1>
<div class="container">
    <div class="sourcedata">
        <form action="/" method="post">
            <p>Hello</p>
            <button type="button" id="calculateButton">"Расчет кредита"</button>
        </form>
    </div>
    <div class="resultdata" th:classappend="${showPressure} ? 'show'">
        <form action="/result" method="post">
            <p>Result</p>
            <button type="button">"Экспорт в excel"</button>
        </form>
    </div>
</div>
</body>
</html>
